:root{
	--mainColor:#010101;
	--secondaryColor:#373738;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(12, 12, 12, 0.8);
	--previewShadow:#090909;


	--buttonColor:#040404;


}